<!DOCTYPE html>
<html lang="en">
<head>
  <title>Notes Sharing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="mystyle.css">
  <link rel="stylesheet" href="index.css">
</head>  

<body>
    <nav class="navbar navbar-expand-sm " id="navigation" >
        <ul class="navbar-nav" id="nav1">
            <li class="navbar-it">
                <a class="nav-link" href="index.html">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">HOME</span>
                </a>     
            </li>
            <li class="navbar-it">
                <a class="nav-link" href="about.html">
                    <span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
          <span class="text">ABOUT</span>
                </a>
            </li>
            <li class="navbar-it">
                <a class="nav-link" href="contact.html"><span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                    <span class="text">CONTACT</span></a>
            </li>
            <li class="navbar-it">
                <a class="nav-link" href="login.html"><span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                    <span class="text">LOGIN</span></a>
            </li>
            <li class="navbar-it">
                <a class="nav-link" href="admin.html">       <span class="icon"><ion-icon name="bag-check-outline"></ion-icon></span>
                    <span class="text">ADMIN</span></a>
            </li>
        </ul>
        <h3 class="h3" id="navlogo"><span id="span"><img  class="logo" src="letter.png" alt=""></a>otes</span></h3>
    </nav>
<div class="gradientColor">
        <div class="transparent-box">
            <p id="heading">Share the notes!
            Store the notes!</p>
            <h3>All your notes, synced on all your devices.</h3>
            <img  class="image1"src="Get Started.png" alt="">
            <div class="container1">
                <div class="container2">
                    <p id="text1">There are notes shared to one student of the class and asked to share with the other students.This creates a 
                        difficulty for the child to share it with n number of fellowmates at a time.
                    <p>
                </div>
                <div class="container3">
                    <img  class="image"src="home2.png" alt="">
                </div>
            </div>
            <div class="container4">
                <div class="container5">
                    <img  class="image"src="home3.png" alt="">
                </div>
                <div class="container6">
                    <p id="text1">To solve this problem of sharing notes or documents, the solution is Notes sharing. Create a account and you are 
                        good to go. Use the upload notes feature and to view use the view notes feature.
                    </p>
                </div>
            </div>
        </div>
        
        <p id="text2">To create an account follow the below manual.</p>>


    <div class="container">
        <div class="row">
            <div class="" id="col1">
                <div class="box1">
                    <p class="halfcircle"><i class="fas fa-user-circle mt-4"></i></p>
                    <p class="halfcircleBottom">Create Account</p>
                </div>
            </div>

            <div class="" id="col1">
                <div class="box1">
                    <p class="halfcircle"><i class="fas fa-sign-in-alt mt-4"></i></p>
                    <p class="halfcircleBottom">Login</p>
                </div>
            </div>

            <div class="" id="col1">
                <div class="box1">
                    <p class="halfcircle"><i class="fas fa-upload mt-4"></i></p>
                    <p class="halfcircleBottom">Upload Notes</p>
                </div>
            </div>

            <div class="" id="col1">
                <div class="box1">
                    <p class="halfcircle"><i class="fas fa-download mt-4"></i></p>
                    <p class="halfcircleBottom">Download Notes</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
